.plan-icon {
  height: 30px;
  width: 30px;
  
  
}
.plan {
  border: none;
  background-color: #f9f9ff;
  height: 50px;
  width: 100%;
}

.checkbox[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 80px;
  position: relative;
}

.label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

.checkbox:checked + .label {
  background: rgba(2,40,90,255);
}

.checkbox:checked + .label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.label:active:after {
  width: 30px;
}

.additional-info {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0.3rem;
  color: rgba(2,40,90,255);
}

.price{
  color: grey;
}

.card-plan{
  border-color: rgba(226,221,244,255);
  background-color: rgba(248,249,254,255);
  border-width: 2px;
}

.c-plan{
  cursor: pointer;

}
.toggle-unselected{
  font-weight: bold;
  color: grey;
}
.toggle-selected{
  font-weight: bold;
  color: rgba(34,53,79,255);
}

