

.span-details{
  font-size: 16px;
  font-weight: 400;
  font-weight: bold;
  position: relative;
  right: 80px;
}
.btn-next-step{
  background-color: rgba(2,40,90,255);
  color: white;
  border-radius: 9px;
  height: 42px;
  width: 100px;
  border: none;
  position: relative;
  
}
.btn-next-step:hover{
  background-color: rgba(22,74,138,255);

}
.form-control{
  width: 85% ;
}